In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [115]:
link1 = "Datasets/student-mat.csv"
link2 = "Datasets/student-por.csv"

In [116]:
time.strftime('Fecha de ejecutación: %d-%m-%y hora: %I:%M:%S')

'Fecha de ejecutación: 13-01-23 hora: 06:31:07'

In [117]:
school1 = pd.read_csv(link1, sep=';', usecols=['school', 'sex', 'age', 'address', 'Pstatus', 'guardian', 'traveltime', 'studytime', 'failures', 'paid', 'internet', 'health', 'absences', 'G1', 'G2', 'G3'])
school1.tail()

,school,sex,age,address,Pstatus,guardian,traveltime,studytime,failures,paid,internet,health,absences,G1,G2,G3
390,MS,M,20,U,A,other,1,2,2,yes,no,4,11,9,9,9
391,MS,M,17,U,T,mother,2,1,0,no,yes,2,3,14,16,16
392,MS,M,21,R,T,other,1,1,3,no,no,3,3,10,8,7
393,MS,M,18,R,T,mother,3,1,0,no,yes,5,0,11,12,10
394,MS,M,19,U,T,father,1,1,0,no,yes,5,5,8,9,9

In [118]:
school2 = pd.read_csv(link2, sep=';', usecols=['school', 'sex', 'age', 'address', 'Pstatus', 'guardian', 'traveltime', 'studytime', 'failures', 'paid', 'internet', 'health', 'absences', 'G1', 'G2', 'G3'])
school2.tail()

,school,sex,age,address,Pstatus,guardian,traveltime,studytime,failures,paid,internet,health,absences,G1,G2,G3
644,MS,F,19,R,T,mother,1,3,1,no,yes,5,4,10,11,10
645,MS,F,18,U,T,mother,1,2,0,no,yes,1,4,15,15,16
646,MS,F,18,U,T,mother,2,2,0,no,no,5,6,11,12,9
647,MS,M,17,U,T,mother,2,1,0,no,yes,2,6,10,10,10
648,MS,M,18,R,T,mother,3,1,0,no,yes,5,4,10,11,11

In [119]:
school1=school1[school1!='GP']
school1=school1[school1['school'].notna()]

In [120]:
school2=school2[school2!='GP']
school2=school2[school2['school'].notna()]

In [121]:
approved=[]
extra=[]
aux=[]

In [122]:
def puntaje1(valor):
        if  (93-valor*100/93<=80):
            return 0
        elif (93-valor*100/93 >80):
            return 1

In [123]:
def puntaje2(valor):
        if  (valor<10):
            return 0
        elif (10<=valor<15):
            return 1
        elif (valor>=15):
            return 1

In [124]:
def puntaje3(valor):
        if (10<=valor<=15):
            return 1
        elif (valor>=15):
            return 0
        elif (valor<10):
            return ""

In [125]:
for valor in school1["absences"]:
    approved.append(puntaje1(valor))

In [126]:
for valor in school1["G3"]:
    aux.append(puntaje2(valor))

In [127]:
for x in range (len(approved)):
    if(approved[x]!=aux[x]):
        approved[x]=aux[x]

In [128]:
for valor in school1["G3"]:
    extra.append(puntaje3(valor))

In [129]:
school1["approved"]=approved
school1["extra"]=extra

In [130]:
school1

,school,sex,age,address,Pstatus,guardian,traveltime,studytime,failures,paid,internet,health,absences,G1,G2,G3,approved,extra
349,MS,M,18,R,T,mother,2,1,1,no,yes,5,10,11,13,13,1,1
350,MS,M,19,R,T,other,3,2,3,no,yes,2,8,8,7,8,0,
351,MS,M,17,U,T,mother,2,2,0,yes,yes,3,2,13,13,13,1,1
352,MS,M,18,U,T,mother,1,1,1,no,yes,3,7,8,7,8,0,
353,MS,M,19,R,T,other,3,1,1,no,yes,5,4,8,8,8,0,
354,MS,M,17,R,T,mother,2,2,0,yes,yes,2,4,13,11,11,1,1
355,MS,F,18,U,T,father,1,2,0,no,no,5,0,10,9,9,0,
356,MS,F,17,R,T,father,2,2,0,yes,yes,5,4,12,13,13,1,1
357,MS,F,17,U,A,mother,2,2,0,no,no,5,2,12,12,11,1,1
358,MS,M,18,U,T,father,2,1,0,no,yes,3,4,10,10,10,1,1
359,MS,F,18,U,T,father,2,3,0,no,yes,4,0,18,16,16,1,0
360,MS,F,18,R,A,mother,3,2,0,no,no,5,0,13,13,13,1,1
361,MS,M,18,R,T,mother,2,2,1,no,no,5,2,13,12,12,1,1
362,MS,F,18,U,T,mother,2,2,0,no,yes,3,0,11,11,10,1,1
363,MS,F,17,U,T,mother,1,2,0,yes,yes,1,0,16,15,15,1,1
364,MS,F,17,R,T,father,2,2,0,no,no,3,0,12,11,12,1,1
365,MS,M,18,R,T,mother,2,2,0,yes,no,3,4,10,10,10,1,1
366,MS,M,18,U,T,mother,2,3,0,yes,yes,5,0,13,13,13,1,1
367,MS,F,17,R,T,mother,3,1,1,yes,yes,1,0,7,6,0,0,
368,MS,F,18,U,T,father,2,1,0,yes,yes,4,0,11,10,10,1,1
369,MS,F,18,R,T,father,3,2,0,yes,yes,5,10,14,12,11,1,1
370,MS,F,19,U,T,other,2,2,2,no,no,3,4,7,7,9,0,
371,MS,M,18,R,T,father,3,1,0,yes,yes,3,3,14,12,12,1,1
372,MS,F,17,U,T,mother,1,3,0,no,no,3,8,13,11,11,1,1
373,MS,F,17,R,T,mother,1,1,0,no,yes,1,14,6,5,5,0,
374,MS,F,18,R,T,mother,2,3,0,no,yes,1,0,19,18,19,1,0
375,MS,F,18,R,T,mother,4,3,0,no,yes,4,2,8,8,10,1,1
376,MS,F,20,U,T,other,2,3,2,yes,yes,3,4,15,14,15,1,1
377,MS,F,18,R,T,mother,1,2,0,yes,yes,2,4,8,9,10,1,1
378,MS,F,18,U,T,mother,1,2,0,yes,yes,1,0,15,15,15,1,1
379,MS,F,17,R,T,mother,1,2,0,yes,yes,1,17,10,10,10,1,1
380,MS,M,18,U,T,father,1,2,0,yes,yes,2,4,15,14,14,1,1
381,MS,M,18,R,T,mother,2,1,0,no,yes,5,5,7,6,7,0,
382,MS,M,17,U,T,father,2,2,0,no,yes,3,2,11,11,10,1,1
383,MS,M,19,R,T,mother,2,1,1,no,no,5,0,6,5,0,0,
384,MS,M,18,R,T,father,2,1,1,yes,no,3,14,6,5,5,0,
385,MS,F,18,R,T,mother,2,3,0,yes,no,4,2,10,9,10,1,1
386,MS,F,18,R,T,mother,3,1,0,yes,yes,5,7,6,5,6,0,
387,MS,F,19,R,T,mother,1,3,1,no,yes,5,0,7,5,0,0,
388,MS,F,18,U,T,mother,1,2,0,yes,yes,1,0,7,9,8,0,
389,MS,F,18,U,T,mother,2,2,1,no,no,5,0,6,5,0,0,
390,MS,M,20,U,A,other,1,2,2,yes,no,4,11,9,9,9,0,
391,MS,M,17,U,T,mother,2,1,0,no,yes,2,3,14,16,16,1,0
392,MS,M,21,R,T,other,1,1,3,no,no,3,3,10,8,7,0,
393,MS,M,18,R,T,mother,3,1,0,no,yes,5,0,11,12,10,1,1
394,MS,M,19,U,T,father,1,1,0,no,yes,5,5,8,9,9,0,

In [131]:
approved1=[]
extra1=[]
aux1=[]

In [132]:
def puntaje4(valor):
        if  (93-valor*100/93<=80):
            return 0
        elif (93-valor*100/93 >80):
            return 1

In [133]:
def puntaje5(valor):
        if  (valor<10):
            return 0
        elif (10<=valor<15):
            return 1
        elif (valor>=15):
            return 1

In [134]:
def puntaje6(valor):
        if (10<=valor<=15):
            return 1
        elif (valor>=15):
            return 0
        elif (valor<10):
            return ""

In [135]:
for valor in school2["absences"]:
    approved1.append(puntaje4(valor))

In [136]:
for valor in school2["G3"]:
    aux1.append(puntaje5(valor))

In [137]:
for x in range (len(approved1)):
    if(approved1[x]!=aux1[x]):
        approved1[x]=aux1[x]

In [138]:
for valor in school2["G3"]:
    extra1.append(puntaje6(valor))

In [139]:
school2["approved"]=approved1
school2["extra"]=extra1

In [140]:
school2

,school,sex,age,address,Pstatus,guardian,traveltime,studytime,failures,paid,internet,health,absences,G1,G2,G3,approved,extra
423,MS,F,16,U,T,father,2,1,0,no,yes,5,11,10,11,11,1,1
424,MS,F,16,R,T,mother,2,2,0,no,yes,5,0,12,12,12,1,1
425,MS,F,15,R,T,mother,1,1,1,no,no,2,6,10,10,10,1,1
426,MS,F,15,R,T,mother,2,1,0,no,yes,5,4,10,10,11,1,1
427,MS,F,16,R,T,mother,2,2,0,no,no,5,0,16,17,17,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,T,mother,1,3,1,no,yes,5,4,10,11,10,1,1
645,MS,F,18,U,T,mother,1,2,0,no,yes,1,4,15,15,16,1,0
646,MS,F,18,U,T,mother,2,2,0,no,no,5,6,11,12,9,0,
647,MS,M,17,U,T,mother,2,1,0,no,yes,2,6,10,10,10,1,1
648,MS,M,18,R,T,mother,3,1,0,no,yes,5,4,10,11,11,1,1

In [143]:
school1.to_csv('D:/Proyecto_CP_Josue_Vasquez/Proyecto_Python_Escuela_MS_mat 12-01-2023.csv',sep=';')

In [144]:
school2.to_csv('D:/Proyecto_CP_Josue_Vasquez/Proyecto_Python_Escuela_MS_Port 12-01-2023.csv',sep=';')